<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.work-tracker</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/fjmgqba/Documents/Proyectos-Personales/work-tracker/start-service.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>/Users/fjmgqba/Documents/Proyectos-Personales/work-tracker</string>
    <key>StandardOutPath</key>
    <string>/Users/fjmgqba/Documents/Proyectos-Personales/work-tracker/logs/work-tracker.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/fjmgqba/Documents/Proyectos-Personales/work-tracker/logs/work-tracker-error.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
